.container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Toma el 100% de la altura de la ventana */
}

/* Estilos para los bloques del juego */
.block {
    height: 20px;
    width: 20px;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.cyan {
    background-color: cyan;
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}
.pablo{
    background-color: red;
}